*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ebf2ff;
	font-family: 'Merriweather',serif;
	overflow-x: hidden;
	transition: 0.5s;
}

.navbar {
	position: sticky;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #f9fafc;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	z-index: 9999;
}

.navbar_brand {
    width: 100px;
}

.navbar_logo{
    width: 100%;
}



.nav_item{
	border: none;
	padding: 6px 8px;
	font-size:large;
	font-weight: 500;
	background-color: #ef3b51;
	color: #ffffff;
	border-radius: 0.5rem;
}

.nav_item:hover{
	color: #000000;
	cursor: pointer;
}

.container {
	padding: 20px;
}
.hero_image_container{
	width: 100%;
}

.hero_image{
	width: 100%;
}

.order_now {
	border: none;
	padding: 5px 12px;
	font-size:large;
	font-weight: 500;
	background-color: #ef3b51;
	color: #ffffff;
	border-radius: 0.5rem;
	margin: 14px 1px;
}

.hero_text{
	font-size: 1.875rem;
	color:#1d3557;
	margin-top: 9px;
	font-weight: 900;
	line-height:2.24rem;
}
.hero_text:hover{
	color: #ef3b51;
}

.Restaurant_Video_Player{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.video_player{
	margin-top: 10px;
	width: 100%;
	position: relative;
}

.zomatao_video{
	width: 100%;
}

.video_footage_text{
	margin-top: 2rem;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

.video_footage_text:hover{
	color: #ef3b51;
}

@media (min-width:768px){
	.navbar{
		justify-content: space-between;
		padding: 10px 30px;
	}
	.hero_container{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

	}
	.zomatao_video{
		width: 400px;
		height: 300px;
		margin-top: 4rem;	
	}

	.video_footage_text{
		margin-top: 5rem;
		font-size: 1.4rem;
		width: 320px;
		color: #000000;
		font-weight: 500;
		position: absolute;	
		margin-left: 25rem;
	}
}

@media (min-width:1024px){
	.navbar_brand{
		width: 150px;
	}
	.nav_item{
		padding: 8px;
	}
	.hero_description{
		margin-top: 5rem;
		margin-left: 7rem;
	}
	.hero_image{
		box-shadow: 10px 10px #a0bff8;
		width: 500px;
		float: right;
		margin-right: 6rem;
	}
	.zomatao_video{
		margin-top: 5rem;
		width: 500px;
		align-items: center;
		margin-left: 7rem;
	}
	.video_footage_text{
		width: 600px;
		margin-left: 40rem;
	}
}








