*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ebf2ff;
	font-family: 'Merriweather',serif;
	overflow-x: hidden;
	transition: 0.5s;
}

.navbar {
	position: sticky;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #f9fafc;
}

.navbar_brand {
    width: 100px;
}

.navbar_logo{
    width: 100%;
}



.nav_item{
	border: none;
	padding: 6px 8px;
	font-size:large;
	font-weight: 500;
	background-color: #ef3b51;
	color: #ffffff;
	border-radius: 0.5rem;
}

.nav_item:hover{
	color: #000000;
	cursor: pointer;
}


@media (min-width:768px){
	.navbar{
		justify-content: space-between;
		padding: 10px 30px;
	}
}

@media (min-width:1024px){
	.navbar_brand{
		width: 150px;
	}
	.nav_item{
		padding: 8px;
	}
}


